<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo reference="camera_link">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <always_on>true</always_on>
      <update_rate>15.0</update_rate>
      <visualize>false</visualize>
      <topic>/camera</topic>
      <ignition_frame_id>camera_optical_frame</ignition_frame_id>
      <camera>
        <horizontal_fov>1.04719755</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.10</near>
          <far>8.0</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="lidar_link">
    <sensor name="lidar" type="gpu_lidar">
      <always_on>true</always_on>
      <update_rate>15.0</update_rate>
      <visualize>false</visualize>
      <topic>/scan</topic>
      <ignition_frame_id>lidar_link</ignition_frame_id>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159265</min_angle>
            <max_angle>3.14159265</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.08</min>
          <max>8.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
    </sensor>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor name="imu" type="imu">
      <always_on>true</always_on>
      <update_rate>100.0</update_rate>
      <visualize>false</visualize>
      <topic>/imu</topic>
    </sensor>
  </gazebo>

</robot>
